{% extends "control/main.html" %}

{% load static %}

{% block title %}<title>Listado Ventas</title>{% endblock %}

{% block content %}


    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Ventas</h1>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Listado de Ventas</h4>
        <a href="{% url 'control:venta_create' %}"><button type="button" class="btn btn-success float-right">Agregar</button></a>
      </div>

      <div class="card-body card-block">
            <br>    
          <div class="col-sm-2">
              <b>Total de Ventas:</b>     
          </div> 
          
          <div class="row">             
              <div class="col-sm-2">
                  <input type="text" style="text-align: center" id="tot" value="Q0.00" class="form-control" readonly>
              </div>
              <div class="col-sm-2">
                  <img src="{% static 'img/icon/actualizar.png' %}" width="30" height="31" onclick="CalcularTotalVentas()"/> 
              </div>
              <div class="col-sm-2">
                  
              </div>
              <div class="col-sm-2">
                  
              </div>
              <div class="col-sm-2">
                
              </div>
              <div class="col-sm-2">
                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" onclick="fnExcelReport()"><i class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</button>
              </div>
          </div>

      </div> 

      

      <div class="card-body">
          
        <div class="table-responsive">

          <table class="table table-bordered" id="Tabla" width="100%" cellspacing="0">
            <thead>
              <tr>
                {% if perms.control.view_actividad %}
                <th>Factura</th>
                {% endif %}
                <th>No. Venta</th>
                <!--<th>No. Pedido</th>-->
                <th>Fecha de Venta</th>
                <th>Total</th>
                <th>Nit Cliente</th>
                <th>Cliente</th>                
                {% if user.is_authenticated %}
                <th style="text-align: center;">Accion</th>
                {% endif %} 

              </tr>
            </thead>
            
            <tbody>

                {% if venta_list %}

                {% for venta in venta_list %}                     
                    <tr>
                        {% if perms.control.view_actividad %}
                        <td style="text-align: center;">
                            <a href="{{ venta.get_absolute_url }}"><img src="{% static 'img/icon/factura.png' %}" width="25" height="25"/></a>
                        </td> 
                        {% endif %}
                        <td>{{ venta.id }}</td>                       
                        <!--<td>{{ venta.pedido.pk }}</td>-->
                        <td>{{ venta.fecha }}</td>
                        <td>Q{{ venta.total }}</td>
                        <td>{{ venta.nit  }}</td>
                        <td>{{ venta.cliente  }}</td>
                        {% if user.is_authenticated %}
                        <td style="text-align: center;">  
                            {% if perms.control.delete_actividad %}<a href="{% url 'control:venta_delete' venta.id %}"><img src="{% static 'img/icon/delete.png' %}" width="25" height="25"/></a>{% endif %}  
                        </td> 
                        {% endif %}                                 

                    </tr>
                {% endfor %}                      
                
                {% endif %}  
                
            </tbody>
          </table>

        </div>

      </div>
      
    </div>

    <script>
      
      function CalcularTotalVentas () {
        var subtotal = 0;
        var total = 0;
        //var trLength = $("#tPedidos TBODY TR").length;
        $("#Tabla TBODY TR").each(function (index) {

            var row = $(this);
            //console.log(row);      
            
                //Valor de Precio
                //Precio = row.find("TD").eq(3).find('input').val();
                Precio = row.find("TD").eq(3).html().split('Q')[1];
                console.log(Precio);

                //Valor de Cantidad
                //CantidadPedido = row.find("TD").eq(2).find('input').val();
                //console.log(CantidadPedido);
                
                //subtotal de PRECIO * CAntidad y Total de cada fila
                //subtotal = Precio * CantidadPedido;
                total += Number(Precio);
                console.log(total);
                          
            });

            //Asignarle el valor al input
            $("#tot").val("Q " + total);
            //console.log(total);          
        }

        function fnExcelReport() {
          var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
              var textRange; var j=0;
              tab = document.getElementById('Tabla'); // id of table

              for(j = 0 ; j < tab.rows.length ; j++) 
              {     
                  tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
                  //tab_text=tab_text+"</tr>";
              }

              tab_text=tab_text+"</table>";
              tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
              tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
              tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

              var ua = window.navigator.userAgent;
              var msie = ua.indexOf("MSIE "); 

              if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
              {
                  txtArea1.document.open("txt/html","replace");
                  txtArea1.document.write(tab_text);
                  txtArea1.document.close();
                  txtArea1.focus(); 
                  sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
              }  
              else                 //other browser not tested on IE 11
                  sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

              return (sa);
          }

    </script>

{% endblock content %}